@model Pokemon_Capstone.Models.TeamViewModel
@using Pokemon_Capstone.Models

<body style="background-image: url('/Images/Background Images/PokemonTeams.jpg'); background-repeat: no-repeat; position: center; background-size: contain; background-attachment: fixed">
    <h2 class="col-md-3" style="color: yellow; text-shadow: 2px 1px blue; font-family: 'Pokemon Solid'; background-color: dimgray; border-radius: 5px; opacity: .9; letter-spacing: 2.5px; padding: 7px"><u>Your Teams</u></h2>
    <table class="table" style="background-color: ghostwhite; opacity: .95">
        <tr style="font-family: 'Pokemon Solid'; letter-spacing: 3px; color: yellow; background-color: dimgray; text-shadow: 1px 1px blue; font-size: x-large">
            <th>Team Name</th>
            <th>Team Creator</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
        @foreach (TeamPO teamInfo in Model.TeamList)
        {
            <tr>
                @Html.HiddenFor(model => teamInfo.TeamID, new { htmlAttributes = new { @class = "form-control" } })
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DisplayFor(model => teamInfo.TeamName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => teamInfo.TeamName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DisplayFor(model => teamInfo.Creator, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => teamInfo.Creator, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.ActionLink("View", "ViewTeam", "Team", new { ViewID = teamInfo.TeamID }, new { @class = "btn btn-info" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.ActionLink("Delete", "AdminDeleteTeam", "Team", new { deleteID = teamInfo.TeamID }, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>

    <div class="form-group">
        <div class="col-md-10" style="letter-spacing: 2.5px">
            @Html.ActionLink("View Your Teams", "UserTeams", "Team", new { area = " " }, new { @class = " btn btn-default", @style = "font-family: pokemon solid; color: yellow; background-color: black; text-shadow: 1px 1px blue" })
        </div>
    </div>
</body>
<br>